@import url('https://fonts.googleapis.com/css?family=Rajdhani');
* {
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}
body {
    margin: 0;
    background-color: #256EFF;
}
.main-header {
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
}
.main-header h1 {
    margin: 0 10px;
    letter-spacing: 5px;
}
.main-container {
    margin-top: 180px;
    padding: 20px;
}
.load-button-wrapper {
    padding: 20px;
    text-align: center;
}
.load-button {
    border: 2px solid #3DDC97;
    padding: 10px 20px;
    border-radius: 4px;
    margin: auto;
    color: #3DDC97;
    font-size: 1.1;
}
.load-button:hover {
    background-color: #3DDC97;
    color: black;
    cursor: pointer;
}
